@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

body {
  background: url(img/background.png);
}


.profile-pic {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  min-width: 10%;
}

button:active {
  text-decoration: none;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








