{% extends "teamapp/baseStart.html" %}
{% block content %}
	<div class="login">
		<h1>Login</h1>
	    <form method="post">
	    	<input type="text" name="u" placeholder="Username"/>
	        <input type="password" name="p" placeholder="Password"/>
	        <input type="button" class="btn" value="Log In" onclick="window.location.href='mainpge.html'" />
	        <input type="button" class="btn" value="Create Account" onclick="window.location.href='createAccount.html'" />

	    </form>
	</div>
{% endblock content %}
