{% extends 'generic.html' %}
{% block title %}Class Page{% endblock %}
{% block body %}
<!--Class Title on top of center of page-->
<div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <h1><center>{{classOfId.name}}</center></h1>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>


    <!--
    Holds Class image on left with contact info below
    Also has a paragraph about the page.
    -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    {% load static %}
                    <img src="{% static 'download.jpg' %}" class="card-img-top" alt="Class Picture">
                </div>
                <hr>
                <p>Lecturer: {{classOfId.professor_name}}</p>
                <p>Website: wgrfhiubrgfhiub.com</p>
                <p>Times: {{ classOfId.start_time }} - {{ classOfId.end_time }} </p>
                <p>Contact: 716 243 3784</p>
                <p>
                    {% if joined %}
                    <form action="{% url 'leaveClass' classOfId.id %}" method='post'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Leave</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create A Team</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Create a team</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>

                                <div class="container">
                                        <div class="col-auto">
                                        <form action="" method='post'>
                                            {% csrf_token %}
                                            {{ form.as_table }}
                                            <hr>
                                            <p class='m3'><button type="submit" class="btn btn-primary">Create</button></p>
                                            <hr>
                                        </form>
                                        </div>
                                </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    {% else %}
                    <form action="{% url 'joinClass' classOfId.id %}" method='post'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Join</button>
                    </form>
                    {% endif %}
                </p>
            </div>
            <div class="col-sm-9">
                <p>{{classOfId.class_info}}</p>
            </div>
        </div>
    </div>
    <hr>

    <!--
    Tab bar containg 4 pages to swap between with below the CLass info
    -Team view/Available Teams/Available People/Create a Team
    -->
    <div class="container">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#Teams">Avaliable Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#People">People</a>
            </li>
        </ul>
    </div>


    <!--The 4 Tabs are here-->
    <div class="tab-content">
        <!--Available Teams tab-->
        <div id="Teams" class="container tab-pane"><br>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <h3><center>Available Teams</center></h3>
                </div>
                <div class="col-sm-3">
                </div>
                <hr>
                <!--Cards of the avalable teams-->
                <div class="card-columns">
                    {% if teams %}
                    {% for team in teams %}
                    <div class="card">
                        <img src="{% static 'download.jpg' %}" class="card-img-top" alt="Team Picture">
                        <div class="card-body">
                            <h5 class="card-title">{{ team.name }}</h5>
                            <p class="card-text">{{ team.team_info }}</p>
                            <a href="{{team.get_absolute_url}}" class="btn btn-primary">See Team</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Available People tab-->
        <div id="People" class="container tab-pane">
            <div class="row">
                <br>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <br>
                    <h3><center>Available People</center></h3>
                </div>
                <div class="col-sm-3">
                </div>
                <hr>
                <!--Cards of the avalable People-->
                <div class="card-columns">
                    {% if students %}
                    {% for enrolledin in students %}
                    <div class="card">
                        <img src="{% static 'download.jpg' %}" class="card-img-top" alt="Profile Picture">
                        <div class="card-body">
                            <h5 class="card-title">{{ enrolledin.student.account.first_name}} {{ enrolledin.student.account.last_name}}</h5>
                            <p class="card-text">{{ enrolledin.student.account.email}}</p>
                            <a href="{{enrolledin.student.get_absolute_url}}" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Create a Team tab-->

    </div>
{% endblock %}