<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        $(document).ready(function(){
        $(".nav-tabs a").click(function(){
        $(this).tab('show');
        });
        });
    </script>
    <title>{% block title %}{% endblock %}</title>

    <!--Personal style sheet, only contains profile pic size for now.-->
    {% load static %}
    <link rel="stylesheet" href={% static "style.css" %}>
  </head>
  <body class="bg-light">
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"  style="min-height: 54px; min-width:200px;">
            <div class="container-fluid"style="min-height: 54px;" >
                <!-- Homepage button -->
              <a class="navbar-brand" href="{% url 'homepage' %}">K A T Z</a>
              <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto mx-auto d-flex align-items-center">
                    <!-- My Profile Button -->
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'myprofilepage' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'classes' %}">All Classes</a>
                    </li>
                    <form class="form-inline my-3 my-lg-0">
                        <input class="form-control m-3 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>
                  </ul>
                  <!-- Logout Button -->
                  <a href="{% url 'logout' %}" class="btn btn-info pull-right" style="float: right;"role="button">Logout</a>
              </div>
    </nav>
    {% block body %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <!--Footer to have space at bottom - Just for looks-->
  <footer>
      <div class = "jumbotron bg-light jumbotron-fluid">
          {% block footer %}
          {% endblock %}
      </div>
  </footer>
</html>
