{% extends 'generic.html' %}
{% block title %}Team Page{% endblock %}

{% block body %}
{% load static %}

<body>
<link href="{% static 'style02.css'%}" rel="stylesheet">
  <div class="jumbotron bg-light jumbotron-fluid mx-auto" style="min-width: 400px;">
    <div class="container-fluid d-flex justify-content-center flex-wrap">
      <ul>
          <img src="{% static 'stock-student-photo.jpg' %}" alt="Profile Picture" class="img-fluid img-thumbnail profile-pic mx-auto">
          <div class="align-self-baseline mx-auto">
            <div class="container-fluid d-flex flex-column">
              <h1 class="text-center"><span class="badge badge-dark"> {{student.account.first_name}} {{student.middle_name}} {{student.account.last_name}}</span></h1>
              {% if student.account == request.user %}
              <div class="col-auto">
                <p class='m3'><a href="{% url 'profileEdit' %}" class="btn btn-primary">Edit Personal Info</a></p>
                <p class='m3'><a href="{% url 'changepassword' %}" class="btn btn-primary">Change Password</a></p>
              </div>
              {% endif %}
      </ul>
      <ul>
          <h2 class="border-bottom border-dark p-1">School</h2>
            {% if student.school %}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <div class="container-fluid d-flex flex-row flex-wrap">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{student.school.name}}</h5>
                          </div>
                        </div>
                      </div>
                  </h2>
                </div>
            </div>
            {% endif %}
        </ul>
        <ul>
          <h2 class="border-bottom border-dark p-1">Teams</h2>
          {% if teams %}
          {% for team in teams %}
              <div class="card" style="background-color: #f7f7f7">
                <div class="card-header  justify-content-center mx-auto" style="background-color: #f7f7f7"id="TeamOne">
                  <h2 class="mb-0 ">
                    
                      <div class="container-fluid d-flex flex-row flex-wrap">
                        <div class="card mx-auto">
                          <div class="card-body  text-center">
                            <h3 class="card-title">{{team.team.name}}</h3>
                            <h6 class="card-subtitle mb-2 text-muted">{{team.team.team_info}}</h6>
                            <h6 class="card-subtitle mb-2 " style="color: black;"><u>Class</u>: {{team.team.in_class.name}}</h6>
                              <a href="{{team.team.get_absolute_url}}" class=btn-link style="font-size: 24px">Details</a>
                          </div>
                        </div>
                      </div>
                   
                  </h2>
                </div>
              </div>
            {% endfor %}
            {% endif %}
      </ul>
        </div>
      </div>
    </div>
  </div>

</body>

{% endblock %}