{% extends 'generic.html' %}
{% block title %}Team Page{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <br>
            <br>
            <br>
            <div class="card">
                <img src="{% static 'download.jpg' %}" class="card-img-top" alt="Team Picture">
            </div>
            {% if userteam %}
            <form action='leave/' method = "post">
                {% csrf_token %}
                <hr>
                <button type="submit" class="btn btn-primary">Leave Group</button>
                <hr>
            </form>
            {% if team.team_leader.account == user %}
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit Team</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit the team</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>

                                <div class="container">
                                        <div class="col-auto">
                                        <form action="" method='post'>
                                            {% csrf_token %}
                                            {{ form.as_table }}
                                            <hr>
                                            <p class='m3'><button type="submit" class="btn btn-primary">Submit</button></p>
                                            <hr>
                                        </form>
                                        </div>
                                </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                        </div>
                      


            {% endif %}
            {% else %}
            <form action="join/" method = "post">
                {% csrf_token %}
                <hr>
                <button type="submit" class="btn btn-primary">Join Team</button>
                <hr>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-7">
            <h1><center>{{team.name}}</center></h1>
            <!--project description-->
            <p>{{team.team_info}}</p>
            
                <h4 class="border-bottom border-dark p-1">Roster</h4>
                <!--People in Team-->
                <div class="card-group">
                    {% if teamMems %}
                    {% for mem in teamMems%}
                    <div class="card">
                        <img src="{% static 'download.jpg' %}" class="card-img-top" alt="Profile Picture">
                        <div class="card-body">
                            <h5 class="card-title"> 
                                {% if team.team_leader.account == mem.student.account %}
                                    <strong>Leader: </strong>
                                {% endif %}
                                {{mem.student.account.first_name}} 
                                {{mem.student.middle_name}} 
                                {{mem.student.account.last_name}}
                            </h5>
                            <p class="card-text"></p>
                            <a href="{{mem.student.get_absolute_url}}" class="btn btn-primary">See Profile</a>
                            {% if team.team_leader.account == user %}
                            {% if mem.student.account != user %}
                                <a href="/teamapp/team/{{team.id}}/kick/{{mem.student.account.username}}/" class="btn btn-primary">Kick</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
        </div>
    </div>
</div>
{% endblock %}